
<div class="button_container" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li><a href="index.html">Domů</a></li>
      <li><a href="#">Galerie</a></li>
      <li><a href="">Příběh</a></li>
      <li><a href="#">Kontakt</a></li>
    </ul>
  </nav>
</div>



<div class="container">
  <div class="opacity"></div>
  <div class="table-display">
    <div class="cell-display"><a href="">Jídlo</a><hr></div>
    <div class="cell-display"><a href="">Pití</a><hr></div>
    <div class="cell-display"><a href="#">Přijď</a><hr></div>
  </div>
  <div class="table-display-adress">
    <p>Masarykovo nám. 2, 256 01 Benešov</p>
  </div>



</div>
