
.nav{
  width: 100%;
  height: 70px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
  position: absolute;
  z-index: 6;
}

.nav .nav-text, .nav .logo{
  float: right;
  color: #f2f2f2;
  text-align: center;
  margin-right:30px;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
}
.nav a:hover {
  color: #817c19;
}


@media only screen and (max-width: 1000px) {
  .nav .nav-text{
    display: none;
  }

}

@media only screen and (min-width: 1000px) {
  .button_container{
    display: none;
  }
}
