
<div class="footer">
  <div class="col">
    <h1>CONTACT</h1>
    <ul>
      <li>123 Demo Street
        New York, NY 12345</li>
      <li>email@example.com
        (555) 555-5555</li>

    </ul>
  </div>
  <div class="col">
    <h1>Products</h1>
    <ul>
      <li>About</li>
      <li>Mission</li>
      <li>Services</li>
      <li>Social</li>
      <li>Get in touch</li>
    </ul>
  </div>
  <div class="col">
    <h1>HOURS</h1>
    <ul>
      <li>Mon–Wed 6–11</li>
      <li>Thu–Sat 4–12</li>
      <li>Sun 3–10</li>

    </ul>
  </div>


  <div class="clearfix"></div>
  <div class="copyright">
    <p>© Copyright 2020 Martin Slabek. All rights reserved.</p>
  </div>

</div>
