
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #ffffff;
  text-align: center;
}

.footer .col {
  width: 33%;
  height: auto;
  float: left;
  box-sizing: border-box;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.footer .col h1{
  color: #000000;
  font-size: 30px;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}




.clearfix {
  clear: both;
}
.footer .copyright{
  width: 100%;
  background-color: #222222;
}
.footer .copyright p{
  color: #FFFFFF;
  font-size: 15px;
  padding: 10px;
}


@media only screen and (max-width: 1000px) {
  .footer .col {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
